body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.Catalog {
  font-weight: bold;
  font-size: 20px;
}
.header {
  display: flex;
  justify-content: space-around;
}
.header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.header li {
  font-size: 15px;
  margin: 0 10px;
}
.header li:hover {
  text-decoration: underline;
}
.header li a {
  color: black;
  text-decoration: none;
}
.header .auth,
.header .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main__img {
  background-image: url('https://kanc.kz/upload/images/18259_512535_10.jpg');
  filter: blur(1px);
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}
main .main__content {
  display: grid;
  grid-template-columns: 25% 75%;
}
main .main__content .sidebar ul {
  text-align: center;
  font-size: 15px;
  margin: 0;
  max-width: 200px;
  list-style: none;
}
main .main__content .sidebar ul li {
  padding: 13px 0px;
  border: 1px solid #565454;
  background-color: antiquewhite;
}
main .main__content .sidebar ul li a {
  color: black;
  text-decoration: none;
}
main .main__content .sidebar ul li a:hover {
  color: green;
}
main .main__content .sidebar ul li:first-child {
  background-color: #44d144;
  color: white;
}
main .main__content .sidebar ul .active {
  color: red;
  text-shadow: 1px 1px 1px #000;
  transition: .5s ease;
}
main .main__content .site_content .search {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
}
main .main__content .site_content .search input {
  padding: 10px 10px;
  width: 100%;
}
main .main__content .site_content .search .phoneNumber {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: green;
}
main .main__content .site_content .main__content__advertisement {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}
main .main__content .site_content .main__content__advertisement img {
  width: 100%;
}
main .main__content .site_content .main__content__advertisement .poster {
  grid-row: span 1;
}
main .main__content .site_content .main__content__advertisement .poster2 {
  grid-row: span 1;
}
main .main__content .site_content .main__content__advertisement .poster-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
main .main__content .site_content .main__content__advertisement .poster-nav li {
  text-align: center;
  width: 80px;
  padding: 10px 20px;
  background-color: blanchedalmond;
  border: 1px solid black;
}
main .main__content .site_content .main__catalog img {
  width: 100%;
}
main .main__content .site_content .main__catalog ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  list-style: none;
  text-align: center;
}
main .main__content .site_content .main__catalog li {
  border: 1px solid black;
  padding: 10px 5px;
}
main .main__content .site_content .main__catalog li a {
  text-decoration: none;
}
main .main__content .site_content .main__catalog li button {
  padding: 5px 10px;
  background-color: green;
  color: #fff;
}
main .main__content .site_content .main__catalog li p {
  color: black;
  text-overflow: ellipsis;
}
main .main__content .site_content .main__catalog li p:nth-child(3) {
  color: #565454;
}
main .main__content .site_content .main__news {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 100%;
}
main .main__content .site_content .main__news_title {
  grid-column-start: 1;
  grid-column-end: 4;
  color: #44d144;
  text-transform: uppercase;
}
main .main__content .site_content .main__news .news_block .title {
  font-weight: bold;
}
main .main__content .site_content .main__news .news_block .description {
  font-size: 14px;
  color: #918c8c;
}
footer .social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
footer .social-networks .treaty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .social-networks .treaty a {
  text-decoration: none;
  color: black;
}
footer .social-links .social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
footer .social-links .social-icons > li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
footer .social-links .social-icons a {
  position: relative;
  background-color: #eee;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .25rem;
}
footer .social-links .social-icons a:hover {
  background-color: #e0e0e0;
}
footer .social-links .social-icons a::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: .65rem;
  top: .65rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
footer .social-links .social-icons .social-icon-twitter::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/145/145812.png");
}
footer .social-links .social-icons .social-icon-fb::before {
  background-image: url("http://s1.iconbird.com/ico/2013/6/271/w513h5131371296104Facebook.png");
}
footer .social-links .social-icons .social-icon-vk::before {
  background-image: url("https://pngicon.ru/file/uploads/vk.png");
}
footer .social-links .social-icons .social-icon-telegram::before {
  background-image: url("https://w7.pngwing.com/pngs/402/10/png-transparent-telegram-logo-scalable-graphics-icon-logo-blue-angle-triangle.png");
}
footer .social-links .social-icons .social-icon-youtube::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384060.png");
}
.header {
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.header li:hover {
  animation: links .5s linear 0s 1 alternate forwards;
}
.header li a {
  transition: all 0.5s linear;
}
.header li a:hover {
  transform: scale(1.2);
  color: red;
}
@keyframes links {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.main__content {
  animation-duration: 2s;
  animation-direction: alternate;
}
.main__catalogs {
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.main_catalog_anim {
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}
.main__catalogs .catalog_filter .OptionsChoices {
  display: flex;
  justify-content: space-between;
}
.main__catalogs .catalog_filter .OptionsChoices select {
  width: 100%;
  margin: 0 5px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}
.main__catalogs .catalog_filter .OptionsChoices select option:hover {
  background-color: red;
}
.main__catalogs .List {
  margin-top: 20px;
}
.main__catalogs .List .list_item {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-bottom: 20px;
}
.main__catalogs .List .list_item .list_img img {
  width: 100%;
}
.main__catalogs .List .list_item .list_name {
  padding: 0 10px 0 20px;
}
.main__catalogs .List .list_item .list_name a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.main__catalogs .List .list_item .list_name .list_description {
  color: #4f4e50;
}
.main__catalogs .List .list_item .list_dates {
  justify-self: end;
  text-align: center;
}
.main__catalogs .List .list_item .list_dates .list_dates-header {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__catalogs .List .list_item .list_dates .list_dates-header p {
  font-weight: bold;
}
.main__catalogs .List .list_item .list_dates .list_dates-header button {
  align-self: center;
  padding: 10px 20px;
  background-color: #50cc50;
  cursor: pointer;
}
.main__catalogs .List .list_item .list_dates .list_dates-header button:hover {
  background-color: azure;
}
.main__catalogs .List .list_item .list_dates .list_dates-footer {
  margin-top: 20px;
  color: #525552;
}
